
@{
    ViewBag.Title = "Currencies";
}

<h2>Currencies</h2>
<!-- Tabela walut -->
<table>
    <tr>
        <th>Nazwa waluty</th>
        <th>Kod waluty</th>
        <th>Kurs</th>
    </tr>
    <tr>
        <th>Euro</th>
        <th>EUR</th>
        <th>4,25</th>
    </tr>
    <tr>
        <th>Dolar</th>
        <th>USD</th>
        <th>3,57</th>
    </tr>
    <tr>
        <th>Funt Brytyjski</th>
        <th>GBP</th>
        <th>4,82</th>
    </tr>
</table>
<!-- Tabele walut: Euro, Dolar, Funt Brytyjski-->
<!-- Nazwa walty        | Kod waluty        | Kurs-->