
@{
    ViewBag.Title = "Exercise1";
}


<div class="jumbotron">
    <h2>Ciekawe linki</h2>
    <!-- Lista z linkami -->
    <ul>
        <li><a href="https://youtube.com" target="_blank">Youtube</a></li>
        <li><a href="https://google.com" target="_parent">Google</a></li>
        <li><a href="https://facebook.com" target="_top">Facebook</a></li>
        <li><a href="http://pl.warhammer.wikia.com/wiki/Warhammer_Wiki_pl" target="_self">Warhammer Wiki</a></li>
    </ul>
</div>

