
@{
    ViewBag.Title = "Exercise4";
}

<h2>Przyciski</h2>

<!-- Przyciski co nic nie robią -->
<button class="btn">I command you to click!</button>
<p class="btn-primary">No click me!</p>
<!-- Przyciski otwierające zdjęcia -->
<a class="btn-danger" href="~/Content/Images/civic.png" target="_blank">Honda</a>
<a class="btn-info" href="~/Content/Images/focus.png" target="_blank">Ford</a>
<a class="btn-link" href="~/Content/Images/golf.png" target="_blank">Volkswagen</a>
<a class="btn-lg" href="~/Content/Images/megane.png" target="_blank">Renault</a>
