<!-- Tytuł strony -->
<div class="jumbotron text-center">
    <h1 style="font-family:Algerian; font-weight:bold">STARCRAFT UNITS PORTAL</h1>
</div>
<!-- Możliwe operacje na bazie danych -->
<div class="row">
    <div class="col-md-2">
        <p><button class="btn btn-primary" onclick="ShowAll()">Show list of units &raquo;</button></p>
    </div>
    <div class="col-md-2">
        <p><button class="btn btn-primary" onclick="ShowCreateForm()">Create new unit &raquo;</button></p>
    </div>
    <div class="col-md-2">
        <p><button class="btn btn-primary" onclick="ShowSelectForm()">Show selected unit &raquo;</button></p>
    </div>
    <div class="col-md-2">
        <p><button class="btn btn-primary" onclick="ShowUpdateForm()">Update selected unit &raquo;</button></p>
    </div>
    <div class="col-md-2">
        <p><button class="btn btn-danger" onclick="ShowDeleteForm()">Delete selected unit &raquo;</button></p>
    </div>
</div>
<!-- Wyświetlające się informacje o wybranych operacjach -->
<div class="jumbotron center-block" id="mainDiv" style="display:none">
    <!-- Formularz do wyświetlenia pojedyńczego rekordu -->
    <form id="getForm" style="display:none">
        <fieldset>
            <legend>Insert index of item to show</legend>
            <div>
                <label for="Id">ID:</label>
                <input type="text" value="" />
            </div>
            <button type="button" class="btn-primary" onclick="ShowSelected()">Show</button>
        </fieldset>
    </form>
    <!-- Zawartość pojedyńczego rekordu -->
    <div id="details">
        <h2>Id:</h2>
        <h3 id="detailsId"></h3>
        <h2>Name:</h2>
        <h3 id="Name"></h3>
        <h2>Faction:</h2>
        <h3 id="Faction"></h3>
        <div id="image">

        </div>
    </div>
    <!-- Formularz do usuwania rekordu -->
    <form action="" onsubmit="DeleteSelected()" method="post" id="deleteForm" style="display:none">
        <fieldset>
            <legend>Insert index of item to delete</legend>
            <div>
                <label for="Id">ID:</label>
                <input type="text" name="Id" id="deleteId" value="" />
            </div>
            <input type="submit" value="Delete" class="btn-danger" formmethod="post" />
        </fieldset>
    </form>
    <!-- Formularz do tworzenia nowego obiektu klasy Unit-->
    <form action="/api/starcraft" method="post" id="postForm" style="display:none">
        <fieldset>
            <legend>Insert values of new item</legend>
            <div>
                <label for="Name">Name:</label>
                <input type="text" name="Name" value="" />
                <label for="FactionName">Faction:</label>
                <input type="text" name="FactionName" value="" />
                <label for="PhotoLink">Photo link:</label>
                <input type="text" name="PhotoLink" value="" />
            </div>
            <input type="submit" value="Create" class="btn-primary" formmethod="post" />
        </fieldset>
    </form>
    <!-- Formularz do aktualizowania obiektu o zadane informacje -->
    <form action="" method="post" id="putForm" onsubmit="UpdateSelected()" style="display:none">
        <fieldset>
            <legend>Insert values of item to update</legend>
            <div>
                <label for="Id">ID:</label>
                <input type="text" name="Id" id="putId" value="" />
                <label for="Name">Name:</label>
                <input type="text" name="Name" value="" />
                <label for="FactionName">Faction:</label>
                <input type="text" name="FactionName" value="" />
                <label for="PhotoLink">Photo link:</label>
                <input type="text" name="PhotoLink" value="" />
            </div>
            <input type="submit" value="Update" class="btn-primary" formmethod="post"/>
        </fieldset>
    </form>
    <!-- Tabela wyświetlająca wszystkie rekordy -->
    <table class="table text-center center-block" id="list" style="display:none; position:center">
        <thead style="background-color:black; color:steelblue">
            <tr>
                <td>
                    ID
                </td>
                <td>
                    Name
                </td>
                <td>
                    Faction
                </td>
                <td>
                    Photo Link
                </td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!-- Funkcje obsługujące operacje na bazie danych -->
<script type="text/javascript">
    //Funkcja wyświetla wszystkie rekordy tabeli
    async function ShowAll() {
        document.getElementById("deleteForm").style.display = 'none';
        document.getElementById("putForm").style.display = 'none';
        document.getElementById("postForm").style.display = 'none';
        document.getElementById("getForm").style.display = 'none';
        document.getElementById("details").style.display = 'none';
        document.getElementById("mainDiv").style.display = 'block';
        var list = document.getElementById("list");
        list.removeChild(list.getElementsByTagName("tbody")[0]);
        list.style.display = 'block';
        var tbody = document.createElement("tbody");
        var myRequest = new Request('/api/starcraft', { method: 'GET' });
        var data = await fetch(myRequest).then(response => {
                if (response.status === 200) {
                    return response.json();
                }
                else {
                    throw new Error('Something went wrong on api server!');
                }
        });
        for (i = 0; i < data.length; ++i) {
            tbody.appendChild(document.createElement("tr"));
            var element = document.createElement("td");
            element.textContent = data[i].Id;
            tbody.appendChild(element);
            element = document.createElement("td");
            element.textContent = data[i].Name;
            tbody.appendChild(element);
            element = document.createElement("td");
            element.textContent = data[i].FactionName;
            tbody.appendChild(element);
            element = document.createElement("td");
            var link = document.createElement("a");
            link.href = data[i].PhotoLink;
            link.textContent = "Link->";
            link.target = "_blank";
            element.appendChild(link);
            tbody.appendChild(element);
        }
        tbody.style.backgroundColor = "white";
        list.appendChild(tbody);
    }
    //Funkcja wyświetla formularz do wybierania rekordu do obejrzenia
    function ShowSelectForm() {
        document.getElementById("list").style.display = 'none';
        document.getElementById("putForm").style.display = 'none';
        document.getElementById("deleteForm").style.display = 'none';
        document.getElementById("postForm").style.display = 'none';
        document.getElementById("details").style.display = 'none';
        document.getElementById("mainDiv").style.display = 'block';
        document.getElementById("getForm").style.display = 'block';
    }
    //Funkcja wyświetla wybrany rekord w tabeli
    async function ShowSelected() {
        var form = document.getElementById("getForm");
        form.style.display = 'none';
        var myRequest = new Request("/api/starcraft/" + form.getElementsByTagName("input")[0].value, { method: 'GET' });
        var data = await fetch(myRequest).then(response => {
            if (response.status === 200) {
                return response.json();
            }
            else {
                throw new Error('Something went wrong on api server!');
            }
        });
        var div = document.getElementById("details");
        document.getElementById("mainDiv").style.display = 'block';
        div.style.display = 'block';
        document.getElementById("detailsId").innerText = data.Id;
        document.getElementById("Name").innerText = data.Name;
        document.getElementById("Faction").innerText = data.FactionName;
        if (data.PhotoLink != null) {
            var img = document.createElement("img");
            img.src = data.PhotoLink;
            img.classList.add("text-center");
            div.removeChild(div.lastElementChild);
            div.appendChild(img);
        }
    }
    //Funkcja wyświetla formularz do aktualizacji rekordów
    function ShowUpdateForm() {
        document.getElementById("list").style.display = 'none';
        document.getElementById("postForm").style.display = 'none';
        document.getElementById("getForm").style.display = 'none';
        document.getElementById("deleteForm").style.display = 'none';
        document.getElementById("details").style.display = 'none';
        document.getElementById("mainDiv").style.display = 'block';
        document.getElementById("putForm").style.display = 'block';
    }
    //Funkcja aktualizuje wybrany rekord w tabeli
    function UpdateSelected() {
        var form = document.getElementById("putForm");
        form.action = '/api/starcraft/' + document.getElementById("putId").value;
    }
    //Funkcja wyświetla formularz do tworzenia nowych rekordów
    function ShowCreateForm() {
        document.getElementById("list").style.display = 'none';
        document.getElementById("putForm").style.display = 'none';
        document.getElementById("getForm").style.display = 'none';
        document.getElementById("deleteForm").style.display = 'none';
        document.getElementById("details").style.display = 'none';
        document.getElementById("mainDiv").style.display = 'block';
        document.getElementById("postForm").style.display = 'block';
    }
    //Funkcja wyświetla formularz do usuwania rekordów tabeli
    function ShowDeleteForm() {
        document.getElementById("list").style.display = 'none';
        document.getElementById("putForm").style.display = 'none';
        document.getElementById("postForm").style.display = 'none';
        document.getElementById("getForm").style.display = 'none';
        document.getElementById("details").style.display = 'none';
        document.getElementById("mainDiv").style.display = 'block';
        document.getElementById("deleteForm").style.display = 'block';
    }
    //Funkcja precyzuje, który rekord ma być usunięty
    function DeleteSelected() {
        var form = document.getElementById("deleteForm");
        form.action = '/api/starcraftdelete/' + document.getElementById("deleteId").value;
    }
</script>