
@{
    ViewBag.Title = "About";
}

<h2>O Magic The Gathering</h2>
<!-- Opis gry Magica -->
<p class="jumbotron">
    Opowieści o magii odbywają się w The Multiverse - nieskończonym świecie, który zawiera niezliczone ilości fantastycznych światów. 
    Te światy są wypełnione bohaterskimi legendami i szeptanymi tajemnicami. Podróżującymi przez Multiverse to Planeswalkers – potężni magowie z rzadką zdolnością do opuszczenia świata, 
    ich urodzenia. Przygody i machinacje tych Planeswalkers mogą na zawsze zmienić losy tych, których napotkają. Potwory i cywilizacje Multiverse mieć własne historie i legendy. 
    Każdy świat jest bogaty w tajemnicy i intrygi, konflikty i wojny, wszystkie z epickiej opowieści, tylko czekającej na odkrycie.
</p>