
@{
    ViewBag.Title = "LastWinner";
}

<h1>Magic World Championship 2017</h1>
<!-- Podsumowanie ostatniego zwycięzcy w rozgrywkach światowych -->
<div class="jumbotron">
    <h2 class="text-center">William Jensen</h2>
    <h4>6-8 Grudnia 2017</h4>
    <h4>Lokalizacja: Boston</h4>
    <h4>Kariera:</h4>
    <h4>Wygrana: $100,000</h4>
</div>