
@{
    ViewBag.Title = "Planes";
}

<h1 class="text-center  alert label-danger">Wymiary</h1>
<!-- Lista wymiarów w świecie Magica -->
<div class="jumbotron">
    <ul class="media-list text-center table-hover">
        <li>
            <h3 class="alert label-primary">Alara</h3>
            <img src="~/Content/Images/Planes/Alara.jpg" />
        </li>
        <li>
            <h3 class="alert label-success">Amonkhet</h3>
            <img src="~/Content/Images/Planes/Amonkhet.jpg" />
        </li>
        <li>
            <h3 class="alert label-success">Dominaria</h3>
            <img src="~/Content/Images/Planes/Dominaria.jpg" />            
        </li>
        <li>
            <h3 class="alert label-success">Fiora</h3>
            <img src="~/Content/Images/Planes/Fiora.jpg" />
        </li>
        <li>
            <h3 class="alert label-primary">Innistrad</h3>
            <img src="~/Content/Images/Planes/Innistrad.jpg" />           
        </li>
        <li>
            <h3 class="alert label-info">Ixalan</h3>
            <img src="~/Content/Images/Planes/Ixalan.jpg" />            
        </li>
        <li>
            <h3 class="alert label-warning">Kaladesh</h3>
            <img src="~/Content/Images/Planes/Kaladesh.jpg" />            
        </li>
        <li>
            <h3 class="alert label-info">Kamigawa</h3>
            <img src="~/Content/Images/Planes/Kamigawa.jpg" />            
        </li>
        <li>
            <h3 class="alert label-warning">Lorwyn i Shadowmoor</h3>
            <img src="~/Content/Images/Planes/LorwynShadowmoor.jpg" />            
        </li>
        <li>
            <h3 class="alert label-info">Mirrodin</h3>
            <img src="~/Content/Images/Planes/Mirrodin.jpg" />            
        </li>
        <li>
            <h3 class="alert label-warning">Nowa Phyrexia</h3>
            <img src="~/Content/Images/Planes/NewPhyrexia.jpg" />            
        </li>
        <li>
            <h3 class="alert label-primary">Ravnica</h3>
            <img src="~/Content/Images/Planes/Ravnica.jpg" />            
        </li>
        <li>
            <h3 class="alert label-warning">Shandalar</h3>
            <img src="~/Content/Images/Planes/Skandalar.jpg" />            
        </li>
        <li>
            <h3 class="alert label-default">Tarkir</h3>
            <img src="~/Content/Images/Planes/Tarkir.jpg" />            
        </li>
        <li>
            <h3 class="alert label-primary">Theros</h3>
            <img src="~/Content/Images/Planes/Theros.jpg" />            
        </li>
        <li>
            <h3 class="alert label-default">Zendikar</h3>
            <img src="~/Content/Images/Planes/Zendikar.jpg" />            
        </li>
    </ul>
</div>