USE [master]
GO
/****** Object:  Database [DwarvenStone]    Script Date: 04.05.2018 18:01:34 ******/
CREATE DATABASE [DwarvenStone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DwarvenStone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MEDRANSQL\MSSQL\DATA\DwarvenStone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DwarvenStone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MEDRANSQL\MSSQL\DATA\DwarvenStone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DwarvenStone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DwarvenStone]
GO
USE [DwarvenStone]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04.05.2018 18:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alliances]    Script Date: 04.05.2018 18:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alliances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Clan1Name] [nvarchar](128) NOT NULL,
	[Clan2Name] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Alliances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clans]    Script Date: 04.05.2018 18:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clans](
	[Name] [nvarchar](128) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Clans] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentCreations]    Script Date: 04.05.2018 18:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentCreations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](128) NOT NULL,
	[CreatedDocument] [nvarchar](max) NOT NULL,
	[CreationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.DocumentCreations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranks]    Script Date: 04.05.2018 18:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Ranks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04.05.2018 18:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Login] [nvarchar](128) NOT NULL,
	[RankId] [int] NOT NULL,
	[ClanName] [nvarchar](128) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wars]    Script Date: 04.05.2018 18:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Clan1Name] [nvarchar](128) NOT NULL,
	[Clan2Name] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Wars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alliances] ON 

INSERT [dbo].[Alliances] ([Id], [Clan1Name], [Clan2Name]) VALUES (1, N'Karak Angor', N'Karak Izor')
SET IDENTITY_INSERT [dbo].[Alliances] OFF
INSERT [dbo].[Clans] ([Name], [CreationDate]) VALUES (N'Karak Angor', CAST(N'2018-05-04T17:58:22.373' AS DateTime))
INSERT [dbo].[Clans] ([Name], [CreationDate]) VALUES (N'Karak Izor', CAST(N'2018-05-04T17:57:32.933' AS DateTime))
INSERT [dbo].[Clans] ([Name], [CreationDate]) VALUES (N'Khazad-Dum', CAST(N'2018-05-04T17:52:54.510' AS DateTime))
SET IDENTITY_INSERT [dbo].[DocumentCreations] ON 

INSERT [dbo].[DocumentCreations] ([Id], [UserName], [CreatedDocument], [CreationTime]) VALUES (1, N'Durin', N'Outcast certificate', CAST(N'2018-05-04T17:52:39.110' AS DateTime))
INSERT [dbo].[DocumentCreations] ([Id], [UserName], [CreatedDocument], [CreationTime]) VALUES (2, N'Durin', N'Jarl certificate', CAST(N'2018-05-04T17:53:08.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[DocumentCreations] OFF
SET IDENTITY_INSERT [dbo].[Ranks] ON 

INSERT [dbo].[Ranks] ([Id], [Name]) VALUES (1, N'Outcast')
INSERT [dbo].[Ranks] ([Id], [Name]) VALUES (2, N'Initiative')
INSERT [dbo].[Ranks] ([Id], [Name]) VALUES (3, N'Knight')
SET IDENTITY_INSERT [dbo].[Ranks] OFF
INSERT [dbo].[Users] ([Login], [RankId], [ClanName], [Password]) VALUES (N'Baal', 4, N'Khazad-Dum', N'second')
INSERT [dbo].[Users] ([Login], [RankId], [ClanName], [Password]) VALUES (N'Durin', 7, N'Khazad-Dum', N'first')
INSERT [dbo].[Users] ([Login], [RankId], [ClanName], [Password]) VALUES (N'Jotunn', 7, N'Karak Izor', N'gagrinson')
SET IDENTITY_INSERT [dbo].[Wars] ON 

INSERT [dbo].[Wars] ([Id], [Clan1Name], [Clan2Name]) VALUES (1, N'Karak Angor', N'Khazad-Dum')
SET IDENTITY_INSERT [dbo].[Wars] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clan1Name]    Script Date: 04.05.2018 18:01:34 ******/
CREATE NONCLUSTERED INDEX [IX_Clan1Name] ON [dbo].[Alliances]
(
	[Clan1Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clan2Name]    Script Date: 04.05.2018 18:01:34 ******/
CREATE NONCLUSTERED INDEX [IX_Clan2Name] ON [dbo].[Alliances]
(
	[Clan2Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserName]    Script Date: 04.05.2018 18:01:34 ******/
CREATE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[DocumentCreations]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ClanName]    Script Date: 04.05.2018 18:01:34 ******/
CREATE NONCLUSTERED INDEX [IX_ClanName] ON [dbo].[Users]
(
	[ClanName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RankId]    Script Date: 04.05.2018 18:01:34 ******/
CREATE NONCLUSTERED INDEX [IX_RankId] ON [dbo].[Users]
(
	[RankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clan1Name]    Script Date: 04.05.2018 18:01:34 ******/
CREATE NONCLUSTERED INDEX [IX_Clan1Name] ON [dbo].[Wars]
(
	[Clan1Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clan2Name]    Script Date: 04.05.2018 18:01:34 ******/
CREATE NONCLUSTERED INDEX [IX_Clan2Name] ON [dbo].[Wars]
(
	[Clan2Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alliances]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Alliances_dbo.Clans_Clan1Name] FOREIGN KEY([Clan1Name])
REFERENCES [dbo].[Clans] ([Name])
GO
ALTER TABLE [dbo].[Alliances] CHECK CONSTRAINT [FK_dbo.Alliances_dbo.Clans_Clan1Name]
GO
ALTER TABLE [dbo].[Alliances]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Alliances_dbo.Clans_Clan2Name] FOREIGN KEY([Clan2Name])
REFERENCES [dbo].[Clans] ([Name])
GO
ALTER TABLE [dbo].[Alliances] CHECK CONSTRAINT [FK_dbo.Alliances_dbo.Clans_Clan2Name]
GO
ALTER TABLE [dbo].[DocumentCreations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DocumentCreations_dbo.Users_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([Login])
GO
ALTER TABLE [dbo].[DocumentCreations] CHECK CONSTRAINT [FK_dbo.DocumentCreations_dbo.Users_UserName]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Clans_ClanName] FOREIGN KEY([ClanName])
REFERENCES [dbo].[Clans] ([Name])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Clans_ClanName]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Ranks_RankId] FOREIGN KEY([RankId])
REFERENCES [dbo].[Ranks] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Ranks_RankId]
GO
ALTER TABLE [dbo].[Wars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Wars_dbo.Clans_Clan1Name] FOREIGN KEY([Clan1Name])
REFERENCES [dbo].[Clans] ([Name])
GO
ALTER TABLE [dbo].[Wars] CHECK CONSTRAINT [FK_dbo.Wars_dbo.Clans_Clan1Name]
GO
ALTER TABLE [dbo].[Wars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Wars_dbo.Clans_Clan2Name] FOREIGN KEY([Clan2Name])
REFERENCES [dbo].[Clans] ([Name])
GO
ALTER TABLE [dbo].[Wars] CHECK CONSTRAINT [FK_dbo.Wars_dbo.Clans_Clan2Name]
GO
USE [master]
GO
