USE [master]
GO
/****** Object:  Database [StarcraftBase]    Script Date: 19.05.2018 17:45:13 ******/
CREATE DATABASE [StarcraftBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StarcraftBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MEDRANSQL\MSSQL\DATA\StarcraftBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StarcraftBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MEDRANSQL\MSSQL\DATA\StarcraftBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StarcraftBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StarcraftBase]
GO
USE [StarcraftBase]
GO
/****** Object:  Table [dbo].[Factions]    Script Date: 19.05.2018 17:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factions](
	[Name] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_Factions] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 19.05.2018 17:45:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](63) NOT NULL,
	[FactionName] [nvarchar](7) NOT NULL,
	[PhotoLink] [nvarchar](511) NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Factions] ([Name]) VALUES (N'Protos')
INSERT [dbo].[Factions] ([Name]) VALUES (N'Terran')
INSERT [dbo].[Factions] ([Name]) VALUES (N'Zerg')
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([Id], [Name], [FactionName], [PhotoLink]) VALUES (1, N'Zergling', N'Zerg', N'https://vignette.wikia.nocookie.net/starcraft/images/f/f1/Zergling_SC2_Game4.jpg/revision/latest?cb=20140512025416')
INSERT [dbo].[Units] ([Id], [Name], [FactionName], [PhotoLink]) VALUES (2, N'Marine', N'Terran', N'https://i.pinimg.com/originals/7b/89/32/7b893257011b71bf56ce20e7954eca24.jpg')
INSERT [dbo].[Units] ([Id], [Name], [FactionName], [PhotoLink]) VALUES (3, N'Colossus', N'Protos', N'http://media.blizzard.com/sc2/game/units/protoss/science/colossus.jpg')
SET IDENTITY_INSERT [dbo].[Units] OFF
ALTER TABLE [dbo].[Units]  WITH CHECK ADD  CONSTRAINT [FK_Units_Factions] FOREIGN KEY([FactionName])
REFERENCES [dbo].[Factions] ([Name])
GO
ALTER TABLE [dbo].[Units] CHECK CONSTRAINT [FK_Units_Factions]
GO
USE [master]
GO
