USE [master]
GO
/****** Object:  Database [Exams]    Script Date: 21.06.2018 20:02:40 ******/
CREATE DATABASE [Exams]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Exams', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MEDRANSQL\MSSQL\DATA\Exams.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Exams_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MEDRANSQL\MSSQL\DATA\Exams_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Exams].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Exams]
GO
USE [Exams]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 21.06.2018 20:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[idGrade] [int] IDENTITY(1,1) NOT NULL,
	[idPerson] [int] NOT NULL,
	[value] [int] NOT NULL,
 CONSTRAINT [PK_Grades] PRIMARY KEY CLUSTERED 
(
	[idGrade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 21.06.2018 20:02:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[idPerson] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](51) NOT NULL,
	[surname] [nvarchar](51) NOT NULL,
	[address] [nvarchar](51) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[idPerson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([idGrade], [idPerson], [value]) VALUES (1, 1, 5)
INSERT [dbo].[Grades] ([idGrade], [idPerson], [value]) VALUES (2, 2, 3)
INSERT [dbo].[Grades] ([idGrade], [idPerson], [value]) VALUES (3, 3, 4)
SET IDENTITY_INSERT [dbo].[Grades] OFF
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([idPerson], [name], [surname], [address]) VALUES (1, N'To', N'Ja', N'Tutaj')
INSERT [dbo].[Person] ([idPerson], [name], [surname], [address]) VALUES (2, N'Adam', N'Kowalski', N'Wrocław')
INSERT [dbo].[Person] ([idPerson], [name], [surname], [address]) VALUES (3, N'Stefan', N'Nowak', N'Warszawa')
SET IDENTITY_INSERT [dbo].[Person] OFF
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Person] FOREIGN KEY([idPerson])
REFERENCES [dbo].[Person] ([idPerson])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_Person]
GO
USE [master]
GO
