@(msg: String, link: String )

<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Kalkulator Średniej PWR</title>

    <meta name="description" content="Proste narzędzie do liczenia średniej ważonej z kursów" />
    <meta name="keywords" content="pwr, kalkulator, średniej" />

    <link rel="stylesheet" type="text/css" media ="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
<div id="container">
    <div class="header">Kalkulator średniej</div>
    <div class="main-page">
        <div class="form">
            <h1 id="confirm">@msg</h1>
            <br>
            <a href=@link>Powrót</a>
        </div>
    </div>

</div>


</body>
</html>