@()

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        
        <title>Kalkulator Średniej PWR</title>
        
        <meta name="description" content="Proste narzędzie do liczenia średniej ważonej z kursów" />
        <meta name="keywords" content="pwr, kalkulator, średniej" />
        
        <link rel="stylesheet" type="text/css" media ="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body id="adminpanel">
    <div id="container">
        <div class="header">Kalkulator średniej - panel statystyk</div>
        <div class="main-page">
            <div class="form">
                <form class="login-form" method="post" action="@routes.AdminController.login()">
                    <input type="login" placeholder="login" name="login"/>
                    <i class="far fa-envelope"></i>
                    <input id="pswrd" type="password" placeholder="hasło" name="password"/>
                    <i class="fas fa-lock" onclick="show()"></i>
                    <div class="bc1"><button type = "submit" >Zaloguj się</button></div>
                </form>
                <p class="message">Posiadasz konto edukacji.CL? <br>Zaloguj się <a href="@routes.HomeController.index">TUTAJ</a> </p>
                <p class="message">Nie masz jeszcze konta? <a href="@routes.HomeController.register">Zarejestruj się</a> </p>

            </div>
        </div>

    </div>

    <script>
        function show(){
            var pswrd = document.getElementById('pswrd');
            var icon = document.querySelector('.fas');
            if (pswrd.type === "password") {
                pswrd.type = "text";
                icon.style.color = "#4CAF50";
            }else{
                pswrd.type = "password";
                icon.style.color = "grey";
            }
        }
    </script>

    </body>
</html>
