@(isSubject: Boolean, subject: String, userLogin: String, avgSubject: String, avgUser: String, counts: List[String], marks: List[String])
<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Kalkulator Średniej PWR</title>

    <link rel="stylesheet" type="text/css" media ="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

</head>

<body>
<div id="container">
    <div class="header">Kalkulator średniej</div>

    <div class='view-main'>
        <p class="message" id="logout"> <a href="@routes.AdminController.panel">Powrót</a> </p>
        @if(isSubject){
        <h1>Panel statystyk</h1>
        <br>
        <div class='avg-msg'>Obecna średnia z przedmiotu @subject:</div>
        <div class='avg-view'>@avgSubject</div>

        <br><br>
        <div class='list-of-marks'>
            <table class="subjects-table">
                <thead>
                <tr>
                    <th>Ocena</th>
                    <th>Ilość</th>
                </tr>
                </thead>
                @for((count,mark) <- counts.zip(marks)){
                <tr>
                    <td class="subjects-table-value">@mark</td>
                    <td class="subjects-table-value">@count</td>
                </tr>
                }
            </table>
        </div>
        } else {
        <h1>Panel statystyk</h1>
        <br>
        <div class='avg-msg'>Oceny użytkownika @userLogin:</div>
        <div class='avg-view'>@avgUser</div>

        <br><br>
        <div class='list-of-marks'>
            <table class="subjects-table">
                <thead>
                <tr>
                    <th>Ocena</th>
                    <th>Ilość</th>
                </tr>
                </thead>
                @for((count,mark) <- counts.zip(marks)){
                <tr>
                    <td class="subjects-table-value">@mark</td>
                    <td class="subjects-table-value">@count</td>
                </tr>
                }
            </table>
        </div>
        }

    </div>
    <div style="clear: both;"></div>
</div>
</div>



</body>
</html>